header a {
    text-decoration: none;
    padding: 0 0.2rem;
    color: white;
}

header ul {
    display: flex;
    margin: 0;
}

li {
    list-style: none;

}

.link-container {
    display: none;
}


.img-avatar {
    display: block;
    width: 125px;
}

.riga-stella {
    border: 2px solid white;
    width: 95px;
    height: 1px;
    margin-top: 6px;
}

.riga-black {
    border: 2px solid black;
}

.padding-left-right-1 {
    padding: 0 1rem;
}


.bg-dark-blue {
    background-color: rgb(39 61 82);
}

.bg-green {
    background-color: rgb(0 195 157);
}

.bg-blue {
    background-color: rgb(51 83 112);
}

.text-left {
    text-align: left;
}

.ptb-5 {
    padding: 5px;
}

.color-green {
    color: rgb(0 195 157);
}

.my-form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

textarea.my-form-control {
    min-height: 100px;
}